$primaryColor:#0074D9;
$submitColor:#3D9970;
$infoColor:#7FDBFF;
$bgColor:#f7f7f8;
$warningColor:#FF851B;
$successColor:#2ECC40;
$fontColor:#494949;
$tagColor:#001f3f;
$errorColor:#FF4136;
$blackColor:#111;
$maskColor:#aaa;
$alertColor:#39CCCC;
$whiteColor:#fff;
