/*base-size*/
$wholeSize:100%;
$halfSize:50%;
$defaultSize:80%;
$maxWidth:750px;
$minWidth:320px;
$zero:0;

/*text-size*/
$baseFontSize:0.12rem!default;
$baseLineHeight:1.5!default;

/*border-size*/
$borderSm:1px solid;
$borderMm:2px solid;
$borderLm:3px solid;
$borderDirection: bottom!default;

/*container-size*/
$divCenter:0 auto;

/*searchComponent size*/
$searchHeight:0.5rem;